* {
    box-sizing: border-box;
}

html {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.jeu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    min-height: 100px;
    padding: 30px;
    background-color: #262626;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px #262626;
}

.logo {
    background-image: url(/assets/logo.png);
    width: 125px;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat; 
}

.titre {
    font-family: 'Stylish', sans-serif;
    color: #fff;
    display: block;
}

.texte {
    font-family: 'Stylish', sans-serif;
    color: #fff;
    display: block;
}

.photo {
    width: 440px;
    aspect-ratio: 16 / 9;
    background-size: contain;
    border-radius: 20px;
    filter: sepia(100%);
}

#video {
    width: 440px;
    aspect-ratio: 16 / 9;
    background-size: contain;
    border-radius: 20px;
    filter: sepia(100%);
}

.btn {
    display: inline;
    width: 120px;
    height: 40px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #000;
    font-family: 'Stylish', sans-serif;
    color: #fff;
    font-size: 15px;
    border-style: none;
}

.btn:hover {
    box-shadow: 0 0 5px 5px #fff000;
}

.btn:active {
    background-color: #fff000;
}

.none{
    display: none;
}

